.btn-landing-white {
  background: white;
  border-radius: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  color: white;
  padding: 14px 35px;
  margin-bottom: 0px;
  margin-right: 10px;
  border: 1px solid gray;
  opacity: 0.9;
  &:hover, &:focus {
    opacity: 1;
  }
  a {
    color: white;
  }
}
